$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
// bower:scss
// endbower
body {
    background: #fafafa;
    font-family: $font-family-sans-serif;
    color: #333;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    .content-img {
        position: absolute;
        top: 120px;
        left: 0;
    }
}

a {
    text-decoration: none;
}

.menu {
    font-size: 15px;
    color: #1F1F1F;
    margin: 20px auto;
    text-align: center;
    z-index: 100;
    position: relative;
    > li {
        display: inline-block;
        *display:inline; /* IE6、7 block 元素 */
        *zoom:1;
        border: 1px solid transparent;
        border-bottom: none;
        padding: 12px;
        border-radius: 8px 8px 0 0;
        > a {
            color: #1F1F1F;
            &:hover, &:focus {
                color: #004699;
                font-weight: bold;
            }
        }
        &.active, &:hover {
            background-color: #F4F4F4;
            border-color: #dcdcdc;
            a {
                color: #004699;
                font-weight: bold;
            }
        }
    }
  }

.secondary-wrap {
    z-index: 99;
    width: 960px;
    position: absolute;
    left: -2px;
    top: 44px;
    top: 41px\9;
    *top: 64px;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    background: url(../images/bg01.png) repeat-y center center;
    border: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    display: none;
    .secondary-outer {
        background: url(../images/bg03.png) repeat-y center center;
        overflow: hidden;
    }
}

ul {
    &.secondary {
        float: left;
        width: 25%;
        > li {
            line-height: 2;
            vertical-align: top;
            padding-left: 1em;
            > a {
                color: #004699;
            }
            > ul.thirdly {
                font-size: 12px;
                list-style: disc;
                list-style-position: inside;
                display: none;
                > li {
                    > a {
                        color: #666666;
                    }
                }
            }
            &:hover {
                > ul.thirdly {
                }
            }
        }
    }
}
