$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
// bower:scss
// endbower
body {
    background: #fafafa;
    font-family: $font-family-sans-serif;
    color: #333;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.menu {
    font-size: 15px;
    color: #1F1F1F;
    margin: 20px auto;
    text-align: center;
    z-index: 100;
    position: relative;
    > li {
        display: inline-block;
        border: 1px solid transparent;
        border-bottom: none;
        padding: 12px;
        border-radius: 8px 8px 0 0;
        > a {
            color: #1F1F1F;
            text-decoration: none;
            &:hover, &:focus {
                color: #004699;
                font-weight: bold;
            }
        }
        &.active, &:hover {
            background-color: #F4F4F4;
            border-color: #dcdcdc;
            a {
                color: #004699;
                font-weight: bold;
            }
        }
    }
}
ul {
    &.sub {
        z-index: 99;
        width: 960px;
        position: absolute;
        left: 0;
        top: 44px;
        text-align: left;
        background-color: #F4F4F4;
        padding: 20px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        > li {
            width: 25%;
            float: left;
        }
    }
}
